*{
  box-sizing: border-box;
}

body {
height: 100vh;
margin:0;
font-family: 'Dancing Script', cursive;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(133, 130, 130);
}

header{
  font-family: 'Vina Sans', sans-serif;
  font-size: 4vmin;
  color: rgb(82, 85, 30);
  letter-spacing: 1vmin;
}

h1 {
  color:black;
  font-size: 3vmin;
}

.card {
height: 20vmin;
width: 20vmin;
background-color: #2b2728;
border: 2px solid rgb(13, 42, 17);
text-align: center;
font-size: xx-large;
color: transparent;
position: relative; 

}

.card-1, 
.card-3{
  content: url('public/robot.png');
  border: 2px solid rgb(223, 222, 223);
  display: block;
  /* position: relative; */
  height: 20vmin;
  width: 100%;
}

.card-2, 
.card-4{
  content: url('public/beans.png');
  border: 2px solid rgb(223, 222, 223);
  display: block;
  /* position: relative; */
  height: 20vmin;
  width: 100%;
}

.card-6, 
.card-8{
  content: url('public/cashfan.png');
  border: 2px solid rgb(223, 222, 223);
  display: block;
  height: 20vmin;
  width: 100%;
}

.card-5, 
.card-7{
  content: url('public/dogemoji.png');
  border: 2px solid rgb(223, 222, 223);
  display: block;
  height: 20vmin;
  width: 100%;
}

.card-9,
.card-11{
  content: url('public/hiemoji.png');
  border: 2px solid rgb(223, 222, 223);
  display: block;
  height: 20vmin;
  width: 100%;
}

.card-10,
.card-12{
  content: url('public/ringlight.png');
  border: 2px solid rgb(223, 222, 223);
  display: block;
  height: 20vmin;
  width: 100%;
}
#cards
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.flipped {
  background-color: whitesmoke;
}
.hidden {
  display: grid;
}

#score {
  font-family: 'Vina Sans', sans-serif;
  font-size: 32px;
  animation: colorChange 2s infinite;
}
@keyframes colorChange {
  0% {
    color: rgb(208, 203, 203);
  }
  50% {
    color: rgb(95, 95, 99);
  }
  100% {
    color: rgb(99, 119, 99);
  }
}

#over {
  color: white;
  background-color: black;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; 
}
.hidden-over {
  display: none;
}

#start-button {
  font-family: 'Vina Sans', sans-serif;
  background-color: transparent;
  margin-top: 4%;
}
