*{
    box-sizing: border-box;
}

body {
height: 100vh;
margin:0;
font-family: 'Dancing Script', cursive;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}
#gameOverText {
    font-size: 48px;
    color: black;
    text-align: center;
    margin-top: 20px;
  }
header{
    font-size: 4vmin;
    color: pink;
    letter-spacing: 1vmin;
}

h1 {
    color:black;
    font-size: 3vmin;
}

.card {
height: 20vmin;
width: 20vmin;
background-color: aliceblue;
border: 2px solid black;



}
#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}


.flipped {
    background-color: rgb(195, 216, 198);
}

.score {
    background-color: black;
}